{{template "empty" .}}

{{define "content"}}

<div class = "container">
    <div class = "row">
          <div class = "col">
                  <p>This is a TEST normally put user form here</p>
          </div>
    </div>
 
</div>

<div class = "container">
    <div class= "row">
        <div class="col">
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>

    </div>

</div>



{{end}}
	

{{define "js"}}

{{end}}



</html>


